body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

table{
    padding-left: 100px;
}

td{
    padding: 0 10px;
}

#name{
    width: 100%;
}

.button{
   margin-left: 150px; 
}

button{
    margin: 10px;
    width: 70px;
    height: 30px;
    border: none;
    border: 1px solid black;
}

.submit-btn{
    background-color: green;
    color: white;
}

.reset-btn{
    background-color: crimson;
    color: white;
}